<%+header%>
<h2><a id="content" name="content"><%:Mentohust Running Status%></a></h2>
<div class="cbi-map-descr">
<%
write(translate("A Ruijie and Cernet supplicant from HustMoon Studio. Homepage: <a href='http://code.google.com/p/mentohust/'>http://code.google.com/p/mentohust/</a>."))
%>
</div>
<script type="text/javascript">//<![CDATA[
	update_textarea = function(str)
	{
		var ta = document.getElementById('mentohust_screen');
		ta.value = str;
		ta.scrollTop = ta.scrollHeight;
	};
	enable_disable = function(action)
	{
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "mentohust")%>/' + action, null,
			function(x, str)
			{
				update_textarea(str);
			}
		);
	};
//]]></script>
<br />
<div><p>
<input class="cbi-button cbi-input-apply" type="button" value="<%:Enable%>" onclick="enable_disable('enable')" />
<input class="cbi-button cbi-input-reset" type="button" value="<%:Disable%>" onclick="enable_disable('disable')" />
<%:Enable/Disable button enables/disables boot-time starting too.%>
</p></div>
<p>
<% write(translate("This is the output of mentohust. This screen refreshes itself every 5 seconds. You can disable the refreshing by clicking the <em>Auto Refresh on</em> button.")) %>
<br />
<% write(translate("You can also monitor the screen in a terminal using command <em>tmux attach -t mentohust</em>. Then press <em>Ctrl+b</em>, <em>(noCtrl)d</em> to exit.")) %>
</p>
<p>
<% write(translate("Please make a right configuration on <em>config</em> page, then press <em>Enable</em> button to start mentohust.")) %> (<a href='<%=luci.dispatcher.build_url("admin", "services", "mentohust", "config")%>'><%:config page%></a>).
</p>
<div>
<textarea readonly="readonly" wrap="off" rows="25" style="width: 100%;" id="mentohust_screen"></textarea>
</div>
<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "mentohust", "screen")%>', null,
		function(x, str)
		{
			update_textarea(str);
		}
	);
//]]></script>
<%+footer%>
