<%+header%>
<h2><%:goagent running status%></h2>
<script type="text/javascript">//<![CDATA[
	update_textarea = function(str)
	{
		var ta = document.getElementById('goagent_screen');
		ta.value = str;
		ta.scrollTop = ta.scrollHeight;
	};
	enable_disable = function(action)
	{
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "goagent")%>/' + action, null,
			function(x, str)
			{
				update_textarea(str);
			}
		);
	};
//]]></script>
<br />
<div><p>
<input class="cbi-button cbi-input-apply" type="button" value="<%:Enable%>" onclick="enable_disable('enable')" />
<input class="cbi-button cbi-input-reset" type="button" value="<%:Disable%>" onclick="enable_disable('disable')" />
</p></div>
<p>
<% write(translate("This is the output of goagent. This screen refreshes itself every 5 seconds. You can disable the refreshing by clicking the <em>Auto Refresh on</em> button.")) %>
<br />
<% write(translate("You can also monitor the screen in a terminal using command <em>screen -x goagent</em>. Then press <em>Ctrl+a</em>, <em>Ctrl+d</em> to exit.")) %>
</p>
<p>
<% write(translate("Please fill your user name in the <em>proxy.ini</em> file on <em>config</em> page, then press <em>Enable</em> button to start goagent.")) %> (<a href='<%=luci.dispatcher.build_url("admin", "services", "goagent", "config")%>'><%:config page%></a>). <%:The starting could take a minute, so wait patiently.%>
</p>
<p>
<% write(translate("<a href='https://code.google.com/p/goagent/'>Go to goagent homepage</a> for further information.")) %>
</p>
<div>
<textarea readonly="readonly" wrap="off" rows="25" style="width: 100%;" id="goagent_screen"></textarea>
</div>
<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "goagent", "screen")%>', null,
		function(x, str)
		{
			update_textarea(str);
		}
	);
//]]></script>
<%+footer%>
