<%+header%>
<h2><a id="content" name="content"><%:GoAgent Running Status%></a></h2>
<div class="cbi-map-descr">
<%
write(translate("A proxy program based on GAE. Homepage: <a href='https://code.google.com/p/goagent/'>https://code.google.com/p/goagent/</a>."))
%>
</div>
<script type="text/javascript">//<![CDATA[
	update_status = function(status)
	{
		var enabled = status["enabled"];
		var l_on = document.getElementById('label_enabled_on');
		var l_off = document.getElementById('label_enabled_off');
		if (enabled)
		{
			l_on.style.display = ''
			l_off.style.display = 'none'
		}
		else
		{
			l_on.style.display = 'none'
			l_off.style.display = ''
		}

		var screen = status["screen"];
		var t = document.getElementById('textarea_screen');
		t.value = screen;
		t.scrollTop = t.scrollHeight;
	};
	enable_disable = function(action)
	{
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "goagent")%>/' + action, null,
			function(x, json)
			{
				update_status(json);
			}
		);
	};
//]]></script>
<br />
<div><p>
<input class="cbi-button cbi-input-apply" type="button" value="<%:Enable%>" onclick="enable_disable('enable')" />
<input class="cbi-button cbi-input-reset" type="button" value="<%:Disable%>" onclick="enable_disable('disable')" />
<span>:</span>
<span id="label_enabled_on" class="label notice" style="display:none">on</span>
<span id="label_enabled_off" class="label" style="display:none">off</span>
</p></div>
<p>
<% write(translate("This is the output of goagent. This screen refreshes itself every 5 seconds. You can disable the refreshing by clicking the <em>Auto Refresh on</em> button.")) %>
<br />
<% write(translate("You can also monitor the screen in a terminal using command <em>screen -x goagent</em>. Then press <em>Ctrl+a</em>, <em>Ctrl+d</em> to exit.")) %>
</p>
<p>
<% write(translate("Please fill your user name in the <em>proxy.ini</em> file on <em>config</em> page, then press <em>Enable</em> button to start goagent.")) %> (<a href='<%=luci.dispatcher.build_url("admin", "services", "goagent", "config")%>'><%:config page%></a>)<% write(translate(". ")) %><%:The starting could take a minute, so wait patiently.%>
</p>
<div>
<textarea id="textarea_screen" readonly="readonly" wrap="off" rows="25" style="width: 100%;"></textarea>
</div>
<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "goagent", "screen")%>', null,
		function(x, json)
		{
			update_status(json);
		}
	);
//]]></script>
<%+footer%>
